h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 80px;
    text-align: center;
    color: forestgreen;
}

body {
    background-color: rgb(198, 245, 198);
  }